@font-face {
  font-family: 'Interstate';
  src: url('/fonts/Interstate-Bold.woff2') format('woff2'),
  url('/fonts/Interstate-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Interstate Mono';
  src: url('/fonts/InterstateMono.woff2') format('woff2'),
  url('/fonts/InterstateMono.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Interstate';
  src: url('/fonts/Interstate-Regular.woff2') format('woff2'),
  url('/fonts/Interstate-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Zemestro Std';
  src: url('/fonts/ZemestroStd.woff2') format('woff2'),
  url('/fonts/ZemestroStd.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

