@font-face {
  font-family: 'Zemestro Std';
  src: url('fonts/ZemestroStd.eot');
  src: url('fonts/ZemestroStd.eot?#iefix') format('embedded-opentype'),
  url('fonts/ZemestroStd.woff') format('woff'),
  url('fonts/ZemestroStd.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Interstate';
  src: url('fonts/Interstate Regular.eot');
  src: url('fonts/Interstate Regular.eot?#iefix') format('embedded-opentype'),
  url('fonts/Interstate Regular.woff') format('woff'),
  url('fonts/Interstate Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Interstate Mono';
  src: url('fonts/hinted-subset-InterstateMono.eot');
  src: url('fonts/hinted-subset-InterstateMono.eot?#iefix') format('embedded-opentype'),
  url('fonts/hinted-subset-InterstateMono.woff') format('woff'),
  url('fonts/hinted-subset-InterstateMono.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Interstate';
  src: url('fonts/hinted-subset-Interstate-Bold.eot');
  src: url('fonts/hinted-subset-Interstate-Bold.eot?#iefix') format('embedded-opentype'),
  url('fonts/hinted-subset-Interstate-Bold.woff') format('woff'),
  url('fonts/Interstate Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}